<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trippin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    #RegisterBtn
    {
        display: inline-block;
    }
    #LoginBtn
    {
        display: inline;
      
    }
    .nav navbar-nav
    {
        background-color: red;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" @Html.ActionLink("Trippin", "Index", "Home")</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" @Html.ActionLink("Home", "Index", "Home")
                <span class="visually-hidden">(current)</span>
            </a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Piese")">
                                <span>Piese</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Beaturi")">
                                <span>Beat-uri</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">
                                <span>Artisti</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Clienti")">
                                <span>Clienti</span>
                            </a>
                        </li>
                    }
                </ul>


                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    <buttonclass ="btn btn-outline-info" type="button"> </buttonclass>
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ActionLink("Salut " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

                        <button class="btn btn-outline-info"><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></button>

                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <button id="RegisterBtn" class="btn btn-outline-info" type="button">@Html.ActionLink("Inregistrează-te", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </button>
                        <button id="LoginBtn" class="btn btn-outline-info" type="button"> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </button>
                    </ul>
                }

                @*          <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>*@
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="display: block !important">&copy; @DateTime.Now.Year - Farah nebunul</p>
        </footer>
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
