@model Trippin_Website.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reseteaza parola";
}

<style>
    .col-md-offset-2 {
        position: relative;
    }

    #submit {
        top: 50%;
        left: 50%;
        margin-top: 20px;
    }

    .input-elements {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Rol {
        margin: 7px;
    }

    #atentionare {
        color: red;
    }

    .col-md-10 {
        margin-right: 38px;
        margin-left: 38px;
    }
</style>



<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; margin-top:40px; margin-bottom:40px; ">
    <div style="width: 80%; max-width: 800px; background-color: #1a1a1a; padding: 30px; border-radius: 5px; border-color: #9933cc; border-width: 1px; border-style: solid">

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 style="text-align:center">Reseteaza parola</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group"  style="text-align: center;">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div style="align-content:center" class="input-elements">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group"  style="text-align: center;">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div  style="align-content:center" class="input-elements">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group"  style="text-align: center;">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div  style="align-content:center" class="input-elements">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group"  style="text-align: center;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Reset" />
                </div>
            </div>
        }


    </div>
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
