@using Microsoft.AspNet.Identity.EntityFramework
@using Trippin_Website.Logic_classes

@model Trippin_Website.ViewModels.UserListViewModel

<style>
    #errorMessage {
        color: darkred;
    }

    #SuccessMessage {
        color: green;
    }

    #MailConfirmat {
        color: green;
    }

    #MailNeconfirmat {
        color: red;
    }
</style>

<h1>User Management</h1>


<p id="errorMessage">@ViewBag.Eroare</p>
<p id="SuccessMessage">@ViewBag.Success</p>

<table id="Conturi">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Schimba rol</th>
            <th>Rol</th>
            <th>Mail confirmat</th>
            <th>Quota</th>
            <th>Sterge</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            if (user.Id == System.Configuration.ConfigurationSettings.AppSettings.Get("SuperUser"))
            {
                continue;
            }

            var roleName = "";
            if (user.Roles.Any())
            {
                var roleId = user.Roles.FirstOrDefault().RoleId;
                roleName = ((IEnumerable<IdentityRole>)ViewBag.Roles).Single(x => x.Id == roleId).Name;
            }
            <tr>
                <td><a href="@Url.Action("Profile", "UsersManagement", new { id = user.Id })">@user.UserName</a></td>
                <td>@user.Email</td>
                <td>
                    @Html.DropDownList(
           "roles",
           new SelectList(
               ((IEnumerable<IdentityRole>)ViewBag.Roles).Concat(new List<IdentityRole> { new IdentityRole { Id = "", Name = "Nici un rol" } }),
               "Id",
               "Name",
               user.Roles.FirstOrDefault()?.RoleId),
           "Selecteaza rol",
           new { @class = "role-dropdown", data_user_id = user.Id })
                </td>
                <td>@roleName</td>
                @if (user.EmailConfirmed)
                {
                    <td id="MailConfirmat">Da</td>
                }
                else
                {
                    <td id="MailNeconfirmat">Nu</td>
                }

                <td>@user.Quota.ConvertToDigitalStorageSize()</td>
                <td><button type="button" class="btn btn-outline-info sterge-btn"><a href="@Url.Action("DeleteUser", "UsersManagement", new {Id = user.Id})">Delete</a></button></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/Scripts/toastr.js"></script>
    <script>
        toastr.options.timeOut = 7000;
        toastr.options.closeButton = true;
        $(function () {
            $(".role-dropdown").on("change", function () {
                var userId = $(this).data("user-id");
                var roleId = $(this).val();
      
                $.ajax({
                    url: '@Url.Action("ChangeRole", "UsersManagement")',
                    type: 'POST',
                    data: { userId: userId, roleId: roleId },
                    success: function (data) {
                        toastr.success("Rolul a fost updatat cu success!")
                    },
                    error: function () {
                        toastr.error("A aparut o eroare!")
                    }
                });
            });
        });
        $(document).ready(function () {
            $("#Conturi").DataTable({
                "order": [[1, "desc"]],
                language: {
                    lengthMenu: 'Arata _MENU_ conturi',
                    search: 'Cauta :',
                    info: 'Vizibil _START_ din _END_ din total de _TOTAL_ conturi',
                    paginate: {
                        previous: 'Pagina anterioara',
                        next: 'Pagina urmatoare'
                    },
                }
            });
        });
        $("#Conturi .sterge-btn").on("click", function () {
            var button = $(this);

            if (confirm("Vrei sa stergi contul?")) {
                $.ajax({
                    success: function () {
                        button.parents("tr").remove();
                    }
                });
            }
        });
    </script>
}