@model Trippin_Website.ViewModels.PieseAndPieseFileNamesViewModel

@{
    ViewBag.Title = "AlegePiesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Piese.Name</h2>

@using (Html.BeginForm("ModificaFileName", "Piese"))
{
    <label for="PiesaFileNameId">Alege piesa fratemiu</label>
    @Html.DropDownListFor(m => m.Piese.PiesaFileNameId, new SelectList(Model.PieseFileNames, "Id", "Name"), new { @class = "form-control" })


    <button type="submit" class="btn btn-secondary">
        Submit
    </button>
    @Html.HiddenFor(m => m.Piese.Id)
    @Html.HiddenFor(m => m.Piese.PiesaFileNameId)

}
@ViewBag.Message

