<style>
 
    .buttonsForTables {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center; 
    }

    .titletabele {
        text-align: center;
        padding: 20px;
        color: white;
    }
    table {
        width: 100%; 
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #21262d;
        color: white;
    }
    .btn {
        margin: 8px;
        background-color: #21262d;
        color: white;
    }
    a {
        text-decoration: none !important;
        color: white;
    }
</style>

<div class="tabelDiv">
    <h2 class="titletabele">Piese</h2>
    <div class="buttonsForTables" style="background-color: #0d1117">
        <button type="button" class="btn">Adauga</button>
        <button type="button" class="btn">Update</button>
        <button type="button" class="btn">Sterge</button>
        <button type="button" class="btn">Load</button>
        <button type="button" class="btn">@Html.ActionLink("Incarca piesa", "UploadPiesa", "Upload")</button>
    </div>
    <div class="TabeleNebune">
        <table class="table table-hover">
            <tr>
                <th>Nume Piesa</th>
                <th>Key</th>
                <th>BPM</th>
            </tr>
            @foreach (var piesa in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Detalii", "Piese", new { id = piesa.Id })">@piesa.Name</a></td>
                    <td>@piesa.Key</td>
                    <td>@piesa.Bpm</td>
                </tr>
            }
        </table>
    </div>
</div>
