@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    var CurrentDateTime = DateTime.Now;
    var Stiluri = Model.Stiluri;

}

<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin-right: 20px;
    }

    #NotYourSong {
        margin-top: 20px;
        font-size: 18px;
        color: red;
    }
</style>

<div class="tabelDiv">
    <h2 class="titletabele">Piese</h2>
    <div class="buttonsForTables" style="background-color: #0d1117">
        <button type="button" class="btn btn-outline-info">@Html.ActionLink("Adauga", "AdaugaNou", "Piese")</button>
        <button type="button" class="btn btn-outline-info">@Html.ActionLink("Modifica", "Index", "Piese")</button>
        <button type="button" class="btn btn-outline-info">@Html.ActionLink("Incarca piesa", "UploadPiesa", "Upload")</button>
    </div>
    <div class="TabeleNebune">
        <table id="Piese" class="table table-hover">
            <thead>
                <tr>
                    <th>Nume Piesa</th>
                    <th>Key</th>
                    <th>BPM</th>
                    <th>Stil</th>
                    <th>Date Created</th>
                    <th>Modifica</th>
                    <th>Sterge</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var piesa in Model.Piese)
                {
                    var timeSpan = CurrentDateTime - piesa.DateCreated;
                    <tr>
                        <td>
                            <a href="@Url.Action("Detalii", "Piese", new { id = piesa.Id })">@piesa.Name</a>  @if (timeSpan.TotalDays < 3)
                            {<span class="badge rounded-pill bg-info">Nou</span>} @if (piesa.DateModified != null)
                            {<span class="badge rounded-pill bg-light">Modificat</span>} @if (piesa.IsBanger == true)
                            {<span class="badge rounded-pill bg-success">Banger</span>}

                        </td>
                        @{
                            var DateFormater = piesa.DateCreated;
                            string DateFormated = DateFormater.ToString("dd/M/yyyy");
                            var userId = User.Identity.GetUserId();
                        }
                        <td>@piesa.Key</td>
                        <td>@piesa.Bpm</td>
                        <td>@Stiluri[piesa.StyleId - 1].Name</td>
                        <td>@DateFormated</td>

                        @if (piesa.UserId == userId || User.IsInRole("Admin"))
                        {
                            <td>
                                <button id="EditButton" type="button" class="btn btn-outline-info">@Html.ActionLink("Modifica", "ModificaPiesa", new { id = piesa.Id })</button>
                            </td>
                            <td><button data-piese-id="@piesa.Id" id="EditButton" type="button" class="btn btn-danger sterge-btn">Sterge</button></td>
                        }
                        else
                        {
                    <td id="NotYourSong">Unavailable</td>
                    <td id="NotYourSong">Unavailable</td>
                        }


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {
            $("#Piese").DataTable({
                "order": [[4, "desc"]],
                language: {
                    lengthMenu: 'Arata _MENU_ piese',
                    search: 'Cauta :',
                    info: 'Vizibil _START_ din _END_ din total de _TOTAL_ piese',
                    paginate: {
                        previous: 'Pagina anterioara',
                        next: 'Pagina urmatoare'
                    },
                }
            });
            $("#Piese .sterge-btn").on("click", function () {
                var button = $(this);

                if (confirm("Vrei sa stergi piesa?")) {
                    $.ajax({
                        url: "/API/PieseAPI/" + $(this).attr("data-piese-id"),
                        method: "DELETE",
                        contentType: 'application/json',
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}