@{
    var CurrentDateTime = DateTime.Now;
}
<style>

    .buttonsForTables {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .titletabele {
        text-align: center;
        padding: 20px;
        color: white;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #21262d;
        color: white;
    }

    .btn {
        margin: 8px;
        background-color: #21262d;
        color: white;
    }

    a {
        text-decoration: none !important;

    }
    #EditBeatBtn:hover  {
        background-color: #8D679E !important;
        color: white;
    }
    #EditBeatBtn a:hover {
        color: white;
    }
    button a:hover {
        color: white !important
    }
    
</style>

<div class="tabelDiv">
    <h2 class="titletabele">Beat-uri</h2>
    <div class="buttonsForTables" style="background-color: #0d1117">
        <button type="button"  class="btn btn-outline-info">@Html.ActionLink("Adauga", "AdaugaNou", "Beaturi")</button>
        <button type="button"  class="btn btn-outline-info">@Html.ActionLink("Editeaza", "Edit", "Beaturi")</button>
        <button type="button" class="btn btn-outline-info">Sterge</button>
        <button type="button"  class="btn btn-outline-info">Upload</button>
    </div>
    <div class="TabeleNebune">
        <table class="table table-hover">
            <tr>
                <th>Nume</th>
                <th>BPM</th>
                <th>Key</th>
            </tr>
            @foreach (var beat in Model)
            {
                var timeSpan = CurrentDateTime - beat.Created;
                <tr>
                    <td>
                        <a href="@Url.Action("Detalii", "Beaturi", new { id = beat.Id })">@beat.Name</a> @if (timeSpan.TotalDays < 1)
                        {<span class="badge rounded-pill bg-info">Nou</span>} @if (beat.Modified != null)
                        {<span class="badge rounded-pill bg-light">Modificat</span>} <button id="EditBeatBtn" style="border-color: #8D679E;" type="button" class="btn btn-outline-danger">@Html.ActionLink("Editeaza", "EditBeat", new { id = beat.Id })</button>
                    </td>

                    <td>@beat.Bpm bpm</td>
                    <td>@beat.Key</td>
                </tr>
            }
        </table>
    </div>
</div>
