
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;


@model Trippin_Website.ViewModels.BeaturiViewModel

@{


    var CurrentDateTime = DateTime.Now;
    var Stiluri = Model.Stiluri;


}

<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin-right: 20px;
    }
    #yourUserID {
        color: #FF4E79;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<div class="tabelDiv">
    <h2 class="titletabele">Beat-uri</h2>
    <div class="buttonsForTables" style="background-color: #0d1117">
        @if (User.IsInRole(Trippin_Website.Models.RoleNames.Admin) || User.IsInRole(Trippin_Website.Models.RoleNames.Producer) || User.IsInRole(Trippin_Website.Models.RoleNames.Artist))
        {
            <button type="button" class="btn btn-outline-info">@Html.ActionLink("Adauga", "AdaugaNou", "Beaturi")</button>
            <button type="button" class="btn btn-outline-info">@Html.ActionLink("Modifica", "Edit", "Beaturi")</button>
        }
        else
        {
            <p>Din pacate nu ai dreptul de a modifica sau adauga beaturi!</p>
        }
    </div>
    <div class="TabeleNebune">
        <table id="Beaturi" class="table table-hover">
            <thead>
                <tr>
                    <th>Nume Beat</th>
                    <th>Key</th>
                    <th>BPM</th>
                    <th>Date Created</th>
                    <th>Postat de</th>
                    <th>Stil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beat in Model.Beaturi)
                {
                    var timeSpan = CurrentDateTime - beat.Created;
                    <tr>
                        <td>
                            @{
                                var DateFormater = beat.Created;
                                string DateFormated = DateFormater.ToString("dd/MM/yyyy");
                            }
                            <a href="@Url.Action("Detalii", "Beaturi", new { id = beat.IdBun })">@beat.Name</a>  @if (timeSpan.TotalDays < 3)
                            {<span class="badge rounded-pill bg-info">Nou</span>} @if (beat.Modified != null)
                            {<span class="badge rounded-pill bg-light">Modificat</span>} @if (beat.IsBanger == true)
                            {<span class="badge rounded-pill bg-success">Banger</span>}

                        </td>
                        <td>@beat.Key</td>
                        <td>@beat.Bpm</td>
                        <td>@beat.Created</td>
                        @{
                            var userId = User.Identity.GetUserId();
                        }

                        @if (beat.UserId != null)
                        {
                            if (userId == beat.UserId)
                            {
                                <td> <a id="yourUserID" href="@Url.Action("Profile", "UsersManagement", new { id = beat.UserId })">@(Model.UserManager.FindByIdAsync(beat.UserId).Result.UserName)</a></td>
                            }
                            else
                            {
                                <td> <a href="@Url.Action("Profile", "UsersManagement", new { id = beat.UserId })">@(Model.UserManager.FindByIdAsync(beat.UserId).Result.UserName)</a></td>
                            }


                        }
                        else
                        {
                            <td> </td>
                        }
                        <td>@Stiluri[beat.StyleId - 1].Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {
            $("#Beaturi").DataTable({
                "order": [[3, "desc"]],
                language: {
                    lengthMenu: 'Arata _MENU_ beat-uri',
                    search: 'Cauta :',
                    info: 'Vizibil _START_ din _END_ din total de _TOTAL_ beat-uri',
                    paginate: {
                        previous: 'Pagina anterioara',
                        next: 'Pagina urmatoare'
                    },
                }
            });
        });
    </script>
}